<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add  key="fileTypes"  value="xap,js" />
		<add key="targetFileTypes" value="aspx,htm,html" />
		<add key="excludeFiles" value="Silverlight.js,excluded.js" />
		<add key="appendingFormat" value="yyyyMMdd_HHmm" />
		<add key="prefix" value="/,&quot;,=,'" />
	</appSettings>
</configuration>